[submodule "src/ap-portal-api"]
	path = src/ap-portal-api
	url = https://github.com/K-PaaS/ap-portal-api
	branch = kpaas
[submodule "src/ap-portal-common-api"]
	path = src/ap-portal-common-api
	url = https://github.com/K-PaaS/ap-portal-common-api
	branch = kpaas
[submodule "src/ap-portal-gateway"]
	path = src/ap-portal-gateway
	url = https://github.com/K-PaaS/ap-portal-gateway
	branch = kpaas
[submodule "src/ap-portal-log-api"]
	path = src/ap-portal-log-api
	url = https://github.com/K-PaaS/ap-portal-log-api
	branch = kpaas
[submodule "src/ap-portal-registration"]
	path = src/ap-portal-registration
	url = https://github.com/K-PaaS/ap-portal-registration
	branch = kpaas
[submodule "src/ap-portal-storage-api"]
	path = src/ap-portal-storage-api
	url = https://github.com/K-PaaS/ap-portal-storage-api
	branch = kpaas
